
    <div id='opinew_carousel_plugin_app' class="kg-opinew-review-carousel-content-wrapper" ></div>
    {% schema %}
        {
            "presets": [{
                "name": "Featured review carousel",
                "category": "Opinew"
            }]
        }
    {% endschema %}
    